<section class="todoapp">

    <header class="header">
      <h1>todos</h1>
      <!-- 事件綁定：在input綁定輸入後按下enter新增事項的事件 -->
      <input
        class="new-todo"
        placeholder="輸入待辦事項?"
        autofocus
        (keyup.enter)="addTodo($event.target)"
      >
    </header>

    <!-- 清單內容start -->
    <section class="main" *ngIf="getList().length">

      <ul class="todo-list">
        <li *ngFor="let todo of getList(); let i = index"
        [class.completed]="todo.done"
        [class.editing]="todo.editing">
          <div class="view">
            <input type="checkbox" 
            class="toggle"
            (click)="todo.toggleCompletion()"
            [checked]="todo.done">
            <label (dblclick)="edit(todo)">{{ todo.getTitle() }}</label>
            <button class="destroy" (click)="remove(i)"></button>
          </div>
          <input 
            class="edit"
            #editedtodo
            *ngIf="todo.editing"
            [value]="todo.getTitle()"
            (blur)="update(todo, editedtodo.value)"
            (keyup.enter)="update(todo, editedtodo.value)"
            (keyup.escape)="cancelEditing(todo)"
            >
        </li>
      </ul>

    </section>
    <!-- 清單內容end -->

    <footer class="footer" *ngIf="getList()".length>
      <span class="todo-count">
        <strong>{{getRemainingList().length}}</strong>
        {{getRemainingList().length > 1 ? 'items' : 'item'}} left
      </span>
    </footer>
  
  </section>